# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/videos/Design sem nome.mp4 public/videos/LGCY CONF 24.mp4 public/videos/LGCY RECAP 2 ANOS.mp4 public/videos/LGCY RECAP CAMP 26.mp4 public/videos/OQEOL.mp4 public/videos/SaveInta.com_AQPw9VH4KzBsgfSyQAcP93lqlUNh8N_55m56kzdNTytbbvWLF1K-Y20-wTfDE9wofVkyGZiSaaowPaIwaqsEO61ws8RIIcY9OoGHiVs.mp4
public/videos/Design sem nome.mp4 public/videos/LGCY CONF 24.mp4 public/videos/LGCY RECAP 2 ANOS.mp4 public/videos/LGCY RECAP CAMP 26.mp4 public/videos/OQEOL.mp4 public/videos/SaveInta.com_AQPw9VH4KzBsgfSyQAcP93lqlUNh8N_55m56kzdNTytbbvWLF1K-Y20-wTfDE9wofVkyGZiSaaowPaIwaqsEO61ws8RIIcY9OoGHiVs.mp4
